<launch>
	<!-- geomtric controller already subscribes to the correct topics as it is made to work wit px4 -->
	<!-- so no further integration steps are rquired for it to work with rtabmap and the other packages -->
	<arg name="mav_name" default="iris"/>
	<!-- <arg name="vehicle" default="rtabmap"/> -->
	
	<!-- according to the value 1 for the ctrl_mode is ERROR_QUATERNION and 2 is ERROR_GEOMETRIC  -->
	<arg name="command_input" default="2" />
	<arg name="gazebo_simulation" default="true" />
	<!-- <arg name="max_acc" default="1.0" /> -->
	<arg name="init_pos_x" default="0.0" />
	<arg name="init_pos_y" default="0.0" />
	<arg name="init_pos_z" default="1.0" />

	<node pkg="geometric_controller" type="geometric_controller_node" name="geometric_controller" output="screen">
		<param name="mav_name" type="string" value="$(arg mav_name)" />
		<remap from="command/bodyrate_command" to="/mavros/setpoint_raw/attitude"/>
		<param name="ctrl_mode" value="$(arg command_input)" />
		<param name="enable_sim" value="$(arg gazebo_simulation)" />
		<param name="enable_gazebo_state" value="true"/>
		<param name="velocity_yaw" value="false"/>
		<!-- <param name="max_acc" value="$(arg max_acc)" /> -->
		<param name="max_acc" value="2.0" />

		<!-- THIS GROUPS SHOULD BE USED TO SEPARATE THE VEHICLES, FOR NOW THEY DO NOT WORK, MAYBE MISUSED GROUP -->

		<!--Params specific for Iris copter-->
		<!-- in the case of the present vehicle the needed values are quite different from the default ones -->
		<!-- found in geometric_controller repo. they need to be tuned, and understood -->

		<!-- <group if="$(eval vehicle == 'rtabmap')"> -->
		<!-- 	<param name="attctrl_constant" value="0.7"/> -->
		<!-- 	<param name="normalizedthrust_constant" value="0.04"/> -->
		<!-- 	<param name="normalizedthrust_offset" value="0.05"/> -->
		<!---->
		<!-- 	<param name="Kp_x" value="10.0" /> -->
		<!-- 	<param name="Kp_y" value="10.0" /> -->
		<!-- 	<param name="Kp_z" value="20.0" /> -->
		<!-- 	<param name="Kv_x" value="5.0" /> -->
		<!-- 	<param name="Kv_y" value="5.0" /> -->
		<!-- 	<param name="Kv_z" value="10.0" /> -->
		<!-- </group> -->
		<!---->
		<!-- <group if="$(eval vehicle == 'iris_depth')"> -->
		<!-- 	<param name="attctrl_constant" value="0.7"/> -->
		<!-- 	<param name="normalizedthrust_constant" value="0.04"/> -->
		<!-- 	<param name="normalizedthrust_offset" value="0.1"/> -->
		<!---->
		<!-- 	<param name="Kp_x" value="10.0" /> -->
		<!-- 	<param name="Kp_y" value="10.0" /> -->
		<!-- 	<param name="Kp_z" value="20.0" /> -->
		<!-- 	<param name="Kv_x" value="5.0" /> -->
		<!-- 	<param name="Kv_y" value="5.0" /> -->
		<!-- 	<param name="Kv_z" value="10.0" /> -->
		<!-- </group> -->

		<param name="attctrl_constant" value="0.7"/>
		<param name="normalizedthrust_constant" value="0.07"/>
		<param name="normalizedthrust_offset" value="0.08"/>

		<param name="Kp_x" value="10.0" />
		<param name="Kp_y" value="10.0" />
		<param name="Kp_z" value="20.0" />
		<param name="Kv_x" value="5.0" />
		<param name="Kv_y" value="5.0" />
		<param name="Kv_z" value="10.0" />

		<param name="init_pos_x" value="$(arg init_pos_x)" />
		<param name="init_pos_y" value="$(arg init_pos_y)" />
		<param name="init_pos_z" value="$(arg init_pos_z)" />
	</node>

	<!---->
	<!-- <node pkg="trajectory_publisher" type="trajectory_publisher" name="trajectory_publisher" output="screen"> -->
	<!-- 	<param name="trajectory_type" value="1" /> -->
	<!-- 	<param name="shape_omega" value="1.2" /> -->
	<!-- 	<param name="initpos_z" value="2.0" /> -->
	<!-- 	<param name="reference_type" value="2" /> -->
	<!-- </node> -->

	<!-- Launch rqt_reconfigure -->
	<node pkg="rqt_reconfigure" type="rqt_reconfigure" output="screen" name="rqt_reconfigure" />

	<!--include file="$(find mavros)/launch/node.launch">
		<arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
		<arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />

		<arg name="fcu_url" value="$(arg fcu_url)" />
		<arg name="gcs_url" value="$(arg gcs_url)" />
		<arg name="tgt_system" value="$(arg tgt_system)" />
		<arg name="tgt_component" value="$(arg tgt_component)" />
		<arg name="log_output" value="$(arg log_output)" />
		<arg name="fcu_protocol" value="$(arg fcu_protocol)" />
		<arg name="respawn_mavros" default="$(arg respawn_mavros)" />
	</include-->

	<!--include file="$(find px4)/launch/posix_sitl.launch">
		<arg name="vehicle" value="$(arg mav_name)"/>
	</include-->

	<!--group if="$(arg visualization)">
		<node type="rviz" name="rviz" pkg="rviz" args="-d $(find geometric_controller)/launch/config_file.rviz" />
	</group-->

</launch>
