<?xml version="1.0"?>
<launch>
	<!-- gazebo configs -->
	<arg name="gui" default="true"/>
	<arg name="debug" default="false"/>
	<arg name="verbose" default="false"/>
	<arg name="paused" default="false"/>
	<arg name="respawn_gazebo" default="false"/>
	<arg name="world" default="apt"/> <!-- apt, room -->
	<arg name="world_path" default="$(find rtabmap_drone)/worlds/$(arg world).world"/>
	<arg name="fixed_velodyne" default="false"/>
	<arg name="vertical_velodyne" default="false"/>
	<arg name="rotation_speed" default="0.785398163"/>

	<arg name="vehicle" default="rtabmap"/>

	<!-- Gazebo sim -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="gui" value="$(arg gui)"/>
		<arg name="world_name" value="$(arg world_path)"/>
		<arg name="debug" value="$(arg debug)"/>
		<arg name="verbose" value="$(arg verbose)"/>
		<arg name="paused" value="$(arg paused)"/>
		<arg name="respawn_gazebo" value="$(arg respawn_gazebo)"/>
	</include>

	<!-- not every world as free space at the origin, so custom positions are employed -->
	<arg if="$(eval world == 'hospital')" name="x" default="0.0"/>
	<arg if="$(eval world == 'hospital')" name="y" default="11.4"/>
	<arg if="$(eval world == 'hospital')" name="z" default="0.0"/>

	<arg if="$(eval world == 'small_house')" name="x" default="-2.0"/>
	<arg if="$(eval world == 'small_house')" name="y" default="-0.5"/>
	<arg if="$(eval world == 'small_house')" name="z" default="0.0"/>

	<arg if="$(eval world == 'apt')" name="z" default="-1.57"/>

	<arg name="yaw" default="0.0"/>

	<!-- <arg name="x" value="$(arg x)" /> -->
	<!-- Spawn drone from rtabmap -->
	<include if="$(eval vehicle == 'rtabmap')" file="$(find rtabmap_drone)/launch/iris_slam/spawn_drone.launch"> 
		<!-- <arg name="world" value="small_house"/> -->
		<arg name="x" default="$(arg x)"/>
		<arg name="y" default="$(arg y)"/>
		<arg name="z" default="$(arg z)"/>
		<arg name="yaw" default="$(arg yaw)"/>
	</include>

	<!-- Spawn drone from default package -->
	<include if="$(eval vehicle == 'iris_depth')" file="$(find rtabmap_drone)/launch/spawn_iris_depth.launch">
		<arg name="x" default="$(arg x)"/>
		<arg name="y" default="$(arg y)"/>
		<arg name="z" default="$(arg z)"/>
		<arg name="yaw" default="$(arg yaw)"/>
	</include>

</launch>
