<?xml version="1.0"?>
<launch>
	<!-- gazebo configs -->
	<arg name="offb" default="false"/>
	<arg name="gui" default="true"/>
	<arg name="debug" default="false"/>
	<arg name="verbose" default="false"/>
	<arg name="paused" default="false"/>
	<arg name="respawn_gazebo" default="false"/>
	<arg name="world" default="apt"/> <!-- apt, room -->
	<arg name="world_path" default="$(find rtabmap_drone)/worlds/$(arg world).world"/>
	<arg name="fixed_velodyne" default="false"/>
	<arg name="vertical_velodyne" default="false"/>
	<arg name="rotation_speed" default="0.785398163"/>

	<!-- Gazebo sim -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="gui" value="$(arg gui)"/>
		<arg name="world_name" value="$(arg world_path)"/>
		<arg name="debug" value="$(arg debug)"/>
		<arg name="verbose" value="$(arg verbose)"/>
		<arg name="paused" value="$(arg paused)"/>
		<arg name="respawn_gazebo" value="$(arg respawn_gazebo)"/>
	</include>

	<!-- Spawn drone -->
	<include file="$(find rtabmap_drone)/launch/iris_slam/spawn_drone.launch">
		<!-- not every world as free space at the origin, so custom positions are employed -->
		<group if="$(eval world == hospital)">
			<arg name="x" default="0.0"/>
			<arg name="y" default="11.4"/>
			<arg name="z" default="0.0"/>
		</group>

		<group if="$(eval world == small_house)">
			<arg name="x" default="-2"/>
			<arg name="y" default="-0.5"/>
			<arg name="z" default="0"/>
		</group>

		<arg name="yaw" value="-1.56"/>

	</include>

</launch>
